[submodule "Projects/ADTR2"]
	path = Projects/ADTR2
	url = https://github.com/Rnfudge02/ADTR2.git
[submodule "Projects/AATR2"]
	path = Projects/AATR2
	url = https://github.com/Rnfudge02/AATR2.git
[submodule "Build/Dependencies/isaac_ros_common"]
	path = Build/Dependencies/isaac_ros_common
	url = https://github.com/Rnfudge02/isaac_ros_common.git
[submodule "Build/AARDK-Iceberg-plugin"]
	path = Build/AARDK-Iceberg-plugin
	url = https://github.com/Rnfudge02/AARDK-Iceberg-plugin.git
[submodule "Build/Dependencies/pico_sdk"]
	path = Build/Dependencies/pico_sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "Build/Dependencies/micro_ros_pico_sdk"]
	path = Build/Dependencies/micro_ros_pico_sdk
	url = https://github.com/micro-ROS/micro_ros_raspberrypi_pico_sdk.git
[submodule "Projects/AMTR2"]
	path = Projects/AMTR2
	url = https://github.com/Rnfudge02/AMTR2.git
[submodule "Projects/ACVTR2"]
	path = Projects/ACVTR2
	url = https://github.com/Rnfudge02/ACVTR2.git
